<?xml version="1.0"?>
<model>
  <name>x500_lidar_3d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ysah</name>
    <email>ysah@todo.todo</email>
  </author>
  <description>x500 model with a 16-channel spinning 3D lidar (VLP-16-style) for point cloud mapping / SLAM.</description>
</model>
